* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
    margin: 20px;
    font-family: monospace;
}

h1 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    border: 5px solid rgb(255, 132, 150);
}

img {
    width: 100%;

}

#header {
    text-align: center;
    background-color:rgb(255, 214, 160);
    padding: 25px;
}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid burlywood;
}

.column {
    flex: 1;
    padding: 15px;
    min-width: 25%;
}

.column-img {
    margin: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#col1 {
    background-color: rgb(164, 255, 164);
    text-align: center;
}

#col2 {
    background-color: rgb(164, 255, 164);
    text-align: center;
}

#col3 {
    background-color: rgb(164, 255, 164);
    text-align: center;
}

#col4 {
    background-color: rgb(164, 255, 164);
    text-align: center;
}

/* optimised for tablet  */
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    h4 {
        font-size: 1.25;
    }

    .column{
        min-width: 50%;
    }

    .column-img {
        /* add resize code */
    }

    #footer {
        font-size: 1.25rem;
    }
}

/* optimised for mobile  */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 1.5;
    }

    .column{
        min-width: 100%;
    }

    .column-img {
        /* add resize code */
    }

    #footer {
        font-size: 1.5rem;
    }
}

#footer {
    width: 75%;
    font-size: 1rem;
    padding: 15px;
    background-color: rgb(116, 220, 255);
    margin-left: auto;
    margin-right: auto;
}
